<div id="takeover-nav" class="takeover-nav">
    <div class="takeover-top row">
        <div class="takeover-close col-2 col-sm-1">
            <button class="close-btn" onClick="takeoverClose()">
                <h4>X</h4>
            </button>
        </div>
        <div class="takeover-logo col-8 col-sm-9 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <a href="/"><img src="/themes/custom/il_default/Imagine-Lex-White.png"></a>
        </div>
    </div>
    <div class="takeover-navigation">
        <div class="mt-5 row text-center">
            {% for item in content['#items'] %}
                <div class="col-sm-12 col-md-4">
                    <a href="{{item.url}}">
                        <h3 class="nav-headings">{{item.title}}</h3>
                    </a>
                    {% if item.below %}
                        <ul>
                            {% for sub in item.below %}
                                {% if sub.below != [] %}
                                    <li class="nav-subheadings-list" onClick="navListToggle.call(this)">
                                        <a href="#" class="takeover-list">
                                            <h4>
                                                <span class="closed-icon" id="closed-icon"><i class="fas fa-chevron-right"></i></span>
                                                <span class="expanded-icon" id="expanded-icon"><i class="fas fa-chevron-down"></i></span>
                                                {{sub.title}}
                                            </h4>
                                        </a>
                                        <ul class="link-list" id="link-list">
                                            {% for link in sub.below %}
                                                {% if link.below != [] %}
                                                    <li class="nav-subheadings-list">
                                                        <a href="#" class="takeover-list">
                                                            <h5>
                                                                {{link.title}}
                                                            </h5>
                                                        </a>
                                                        <ul class="link-list">
                                                            {% for click in link.below %}
                                                                <li class="nav-sublinks">
                                                                    <a href="{{click.url}}" class="takeover-link">
                                                                        <h5>{{click.title}}</h5>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                {% else %}
                                                    <li class="nav-sublinks">
                                                        <a href="{{link.url}}" class="takeover-link">
                                                            <h5>{{link.title}}</h5>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="nav-subheadings">
                                        <a href="{{sub.url}}" class="takeover-link">
                                            <h4>{{sub.title}}</h4>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4 class="takeover-placeholder">Coming Soon!</h4>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
        {# {{dd(content['#items'])}} #}
</div>