<div class="image-with-subheading text-center">
    <div class="image-wrapper--card">
      {% if url|length > 0 %}
      <a href="{{ url }}">
      {% endif %}
        <img src="{{ img }}" class="img-fluid pb-2 {{ image_variant }}" alt="{{ label }}" title="{{ label }}">
        {% if label|length > 0 %}
          {% if url|length > 0 %}
            {% include '@components/atoms/subheading-link.twig' with { url: url, label: label } %}
          {% else %}
            {% include '@components/atoms/subheading.twig' with { label: label } %}
          {% endif %}
        {% endif %}
      {% if url|length > 0 %}
      </a>
      {% endif %}
    </div>
</div>