{% set test = rows|first %}
{% set row = test.content['#row']._entity %}
<div class="col-sm-12 col-md-6">
    <div class="monopoly-card monopoly-card-{{row.field_abbreviation.value}}">
        <div class="card-header theme-{{row.field_abbreviation.value}}">
            <div class="d-flex">
                <div class="theme-icon">
                    <img src="{{file_url(row.field_icon.entity.uri.value)}}">
                </div>
                <div class="theme-text">
                    <div class="theme-subhead">
                        Theme {{ row.field_abbreviation.value }}
                    </div>
                    <div class="theme-head">
                        <h4>{{ row.title.value }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% for line in rows %}
                {{line.content}}
            {% endfor %}
        </div>
    </div>
</div>