{{ attach_library('bootstrap_barrio/node') }}
{% import "@components/colors.twig" as helpers %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    'clearfix',
  ]
%}
<div{{ attributes.addClass(classes, 'slab flex-column mb-5 theme-card') }}>
    <div class="theme-card-header d-flex flex-column" style="background: url({{ file_url(node.field_image.0.entity.uri.value) }});">
      <h3 class="font-20cen__bold uppercase pl-3 mb-0 mt-auto">Theme {{ node.field_abbreviation.value }} </h4>
      <h2 class="font-20cen__bold uppercase pl-3 mt-auto">{{ node.title.value }}</h2>
    </div>
    {{ drupal_view('theme_cards', 'block_1', node.id()) }}
</div>