{% extends "page.html.twig" %}

{% block content %}
  <div id="main" class="{{ container }}">
    {% if node.field_image.entity.uri.value %}
      {% include '@components/molecules/hero-with-title.twig'
        with {
          imgsrc: file_url(node.field_image.entity.uri.value|image_style('hero_image')),
          head: node.title.value,
        }
      %}
    {% endif %}
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
        <main{{ content_attributes }}>
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
            {% for dt in node.field_development_types %}
              {{ drupal_view('placebuilder', 'block_3', node.nid.value, dt.target_id )}}
            {% endfor %}
          </section>
        </main>
    </div>
  </div>
{% endblock %}
