{% extends "page.html.twig" %}

{% block content %}
  <div id="main" class="{{ container }}">
    {% if term.field_hero_image.entity.uri.value %}
      {% include '@components/molecules/hero-with-title.twig'
        with {
          imgsrc: file_url(term.field_hero_image.entity.uri.value|image_style('hero_image')),
          head: term.name.value,
        }
      %}
    {% endif %}
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
        <main{{ content_attributes }}>
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
            {{ drupal_view('taxonomy_term', 'block_1', term.nid.value )}}
            {{ drupal_view('topic_icons', 'block_1' )}}
          </section>
        </main>
    </div>
  </div>
{% endblock %}
